﻿@model ASVP.Models.OPERACAO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>OPERACAO</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_operacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_operacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descricao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.id_operacao }) |
    @Html.ActionLink("Voltar", "Index")
</p>
