﻿@model ASVP.Models.BENEFICIO_IDOSO


<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById('numBeneficio').value = "";
        document.getElementById('banco').value = "";
        document.getElementById('agencia').value = "";
        document.getElementById('nConta').value = "";
        document.getElementById('dataCredito').value = "";
        document.getElementById('valorBeneficio').value = "";
        document.getElementById('senha').value = "";
    });

    $(function () {
        $("#valorBeneficio").maskMoney();
    });

</script>


<div class="panel panel-default">
    <div class="panel-heading" style="padding: 0px 0px;">
        <h1 class="panel-title">
            <span class="glyphicon glyphicon-usd">
            </span>
            Adicionar Benefício
        </h1>
    </div>
    <div class="panel-body" style="padding: 5px; padding-bottom: 10px;">

        @*@using (Html.BeginForm("Create", "Idoso"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>DESTINO</legend>*@

        <div class="row">

            <div class="col-lg-2">
                <div class="editor-label">
                    @Html.LabelFor(model => model.numBeneficio)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.numBeneficio)
                    @Html.ValidationMessageFor(model => model.numBeneficio)
                </div>
            </div>
            <div class="col-lg-2">
                <div class="editor-label">
                    @Html.LabelFor(model => model.nNit)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.nNit)
                    @Html.ValidationMessageFor(model => model.nNit)
                </div>
            </div>
            <div class="col-lg-2">
                <div class="editor-label">
                    @Html.LabelFor(model => model.banco)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.banco)
                    @Html.ValidationMessageFor(model => model.banco)
                </div>
            </div>
            <div class="col-lg-2">
                <div class="editor-label">
                    @Html.LabelFor(model => model.agencia)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.agencia)
                    @Html.ValidationMessageFor(model => model.agencia)
                </div>
            </div>
            <div class="col-lg-2">
                <div class="editor-label">
                    @Html.LabelFor(model => model.nConta)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.nConta)
                    @Html.ValidationMessageFor(model => model.nConta)
                </div>
            </div>
            <div class="col-lg-2">
                <div class="editor-label">
                    @Html.LabelFor(model => model.senha)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.senha)
                    @Html.ValidationMessageFor(model => model.senha)
                </div>
            </div>
           

        </div>

        <div class="row">

         
            <div class="col-lg-2">
                <div class="editor-label">
                    @Html.LabelFor(model => model.valorBeneficio)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.valorBeneficio)
                    @Html.ValidationMessageFor(model => model.valorBeneficio)
                </div>
            </div>

            <div class="col-lg-2">
                <div class="editor-label">
                    @Html.LabelFor(model => model.dataCredito)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.dataCredito)
                    @Html.ValidationMessageFor(model => model.dataCredito)
                </div>
            </div>
            <div class="col-lg-4">
                <div class="editor-label">
                    @Html.LabelFor(model => model.cartao)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.cartao)
                    @Html.ValidationMessageFor(model => model.cartao)
                </div>
            </div>
           

        </div>
        <div class="row">
            <div class="col-md-2">
                <input type="submit" name="AddBeneficio" class="btn btn-primary" value="Adicionar" />
            </div>
        </div>
        @*</fieldset>
            }*@

        <div class="row">
            <div class="col-lg-12 ">
                <div class="well well-sm">
                    @{
                        Html.RenderPartial("ListarBeneficio", (IEnumerable<ASVP.Models.BENEFICIO_IDOSO>)ViewBag.ListaBeneficios);
                    }
                </div>

            </div>



        </div>

    </div>
</div>