﻿@model ASVP.Models.IDOSO

@{
    ViewBag.Title = "Delete";
}


<h2>Você tem certeza que deseja excluir o idoso @Html.DisplayFor(model => model.nome) ?</h2>
@if (ViewBag.Msg != null)
{
    <div class="alert alert-danger">
        <strong>Atenção!</strong> 
        <p>@ViewBag.Msg</p>
    </div>
}
<br />
<fieldset>
    <legend>IDOSO</legend>

    

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Sim" class="btn btn-primary" /> |
            @Html.ActionLink("Não", "Index", null, new { @class = "btn btn-primary" })
        </p>
    }
            <div class="visibilidade">
                @Html.DisplayNameFor(model => model.id_idoso)
            </div>
            <div class="visibilidade">
                @Html.DisplayFor(model => model.id_idoso)
            </div>



</fieldset>

