﻿@model ASVP.Models.IDOSO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>IDOSO</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_idoso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_idoso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cpf)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cpf)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rg)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dataNasc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataNasc)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.id_idoso  }) |
    @Html.ActionLink("Voltar", "Index")
</p>
