﻿@model ASVP.Models.IDOSO

@{
    ViewBag.Title = "Editar";
}



<script type="text/javascript">
    function SalvaPerfil() {
        var perfil = "";


        if ($("#ACAMADO").is(":checked") == true)
            perfil += "ACAMADO" + "%";

        if ($("#AVCI").is(":checked") == true)
            perfil += "AVCI" + "%";

        if ($("#AVCH").is(":checked") == true)
            perfil += "AVCH" + "%";

        if ($("#CADEIRANTE").is(":checked") == true)
            perfil += "CADEIRANTE" + "%";

        if ($("#DEFMENTAL").is(":checked") == true)
            perfil += "DEFMENTAL" + "%";

        if ($("#MUDO").is(":checked") == true)
            perfil += "MUDO" + "%";

        if ($("#SURDO").is(":checked") == true)
            perfil += "SURDO" + "%";

        if ($("#SENIL").is(":checked") == true)
            perfil += "SENIL" + "%";

        if ($("#ALZHEIMER").is(":checked") == true)
            perfil += "ALZHEIMER" + "%";

        if ($("#PARKINSON").is(":checked") == true)
            perfil += "PARKINSON" + "%";

        if ($("#DIABETICO").is(":checked") == true)
            perfil += "DIABETICO" + "%";

        if ($("#DEFVISUAL").is(":checked") == true)
            perfil += "DEFVISUAL" + "%";

        if ($("#NORMAL").is(":checked") == true)
            perfil += "NORMAL" + "%";

        document.getElementById('perfil').value = perfil;

        $('#myModal').modal('hide');


    }

    $(document).ready(function () {
        var perfil = "";
        
        perfil = document.getElementById('perfil').value;
        var perfis = perfil.split('%');
        var i = 0;

        for (i = 0; i < perfis.length; i++) {
            if (perfis[i] == "ACAMADO") {
                $("#ACAMADO").prop("checked", true);
            }
            if (perfis[i] == "AVCI") {
                $("#AVCI").prop("checked", true);
            }
            if (perfis[i] == "AVCH") {
                $("#AVCH").prop("checked", true);
            }
            if (perfis[i] == "CADEIRANTE") {
                $("#CADEIRANTE").prop("checked", true);
            }
            if (perfis[i] == "DEFMENTAL") {
                $("#DEFMENTAL").prop("checked", true);
            }
            if (perfis[i] == "MUDO") {
                $("#MUDO").prop("checked", true);
            }
            if (perfis[i] == "SURDO") {
                $("#SURDO").prop("checked", true);
            }
            if (perfis[i] == "SENIL") {
                $("#SENIL").prop("checked", true);
            }
            if (perfis[i] == "ALZHEIMER") {
                $("#ALZHEIMER").prop("checked", true);
            }
            if (perfis[i] == "PARKINSON") {
                $("#PARKINSON").prop("checked", true);
            }
            if (perfis[i] == "DIABETICO") {
                $("#DIABETICO").prop("checked", true);
            }
            if (perfis[i] == "DEFVISUAL") {
                $("#DEFVISUAL").prop("checked", true);
            }
            if (perfis[i] == "NORMAL") {
                $("#NORMAL").prop("checked", true);
            }
            
        }

        
    });

    $(document).ready(function () {
        $("#cpf").mask("999.999.999-99");
    });
    //$(document).ready(function () { $("#rg").mask("999.999-9"); });
    
    $(document).ready(function () { $("#dataNasc").mask("99/99/9999"); });
    $(document).ready(function () { $("#dataEntrada").mask("99/99/9999"); });
    
    $(document).ready(function () { $("#nome").addClass("text-uppercase"); });
    $(document).ready(function () { $("#planosaude").addClass("text-uppercase"); });
    $(document).ready(function () { $("#banco").addClass("text-uppercase"); });
    $(document).ready(function () { $("#agencia").addClass("text-uppercase"); });
    $(document).ready(function () { $("#cc").addClass("text-uppercase"); });
    $(document).ready(function () {
       

      
        //var data = $('#dataNasc').val();
        //if (data.toString().trim().length > 10) {
        //    $('#dataNasc').val(data.substring(0, 10));
        //}

        //var dataCredito = $('#dataCredito').val();
        //if (dataCredito.toString().trim().length > 10) {
        //    $('#dataCredito').val(data.substring(0, 10));
        //}

        //var dataCredito = $('#dataEntrada').val();
        //if (dataCredito.toString().trim().length > 10) {
        //    $('#dataEntrada').val(data.substring(0, 10));
        //}

    });


</script>

<script type="text/javascript">


    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
            $('#myTab a[href="' + activeTab + '"]').tab('show');
        }
    });


    $(function () {
        $("#dataNasc").datepicker({
            dateFormat: "dd/mm/yy", showOtherMonths: true,
            selectOtherMonths: true,
            dayNames: ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado", "Domingo"],
            dayNamesMin: ["D", "S", "T", "Q", "Q", "S", "S", "D"],
            dayNamesShort: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sáb", "Dom"],
            monthNames: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
            monthNamesShort: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
            showAnim: "scale"
        });

        $("#dtEmissaoRG").datepicker({
            dateFormat: "dd/mm/yy", showOtherMonths: true,
            selectOtherMonths: true,
            dayNames: ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado", "Domingo"],
            dayNamesMin: ["D", "S", "T", "Q", "Q", "S", "S", "D"],
            dayNamesShort: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sáb", "Dom"],
            monthNames: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
            monthNamesShort: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
            showAnim: "scale"
        });

       

        $("#senha").focus(function () {
            this.type = "text";
        }).blur(function () {
            this.type = "password";
        });
        $("#salariol").blur(function (event) {
            this.value = this.value.replace('.', '');
        });
        


    });

    $(function () {
        $("#salariol").maskMoney();
    });
</script>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Alterar dados do idoso @Model.nome</h3>
    </div>
    <div class="panel-body">

        @if (ViewBag.Msg != null)
        {
            <div class="alert alert-danger">
                <strong>Atenção!</strong> @ViewBag.Msg
            </div>
        }



        <div class="sidebar" id="sidebar">
            <div class="bs-example">
                <ul class="nav nav-pills" id="myTab">
                    <li class="active"><a data-toggle="tab" href="#pessoais">Dados Pessoais</a></li>
                    <li><a data-toggle="tab" href="#docs">Documentos</a></li>
                    <li><a data-toggle="tab" href="#beneficios">Benefícios</a></li>
                    <li><a data-toggle="tab" href="#contatos">Contatos</a></li>


                </ul>
            </div>
        </div>

        @using (Html.BeginForm("Edit", "Idoso"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <form>
                <fieldset>
                    <legend>Novo Idoso</legend><br />
                    <div class="tab-content">
                        
                        <div id="pessoais" class="tab-pane fade in active">
                            @Html.Partial("DadosPessoais")
                            <div class="visibilidade">
                                @Html.LabelFor(model => model.id_idoso)
                            </div>
                            <div class="visibilidade">
                                @Html.EditorFor(model => model.id_idoso)
                                @Html.ValidationMessageFor(model => model.id_idoso)
                            </div>
                        </div>

                        <div id="contatos" class="tab-pane fade">
                            @if (ViewBag.Contato != null)
                            {
                                @Html.Partial("AddContato", (ASVP.Models.CONTATO_IDOSO)ViewBag.Contato)
                            }
                            else
                            {@Html.Partial("AddContato", new ASVP.Models.CONTATO_IDOSO())}
                        </div>

                        <div id="docs" class="tab-pane fade">
                            @Html.Partial("Documentos")
                        </div>

                        <div id="beneficios" class="tab-pane fade">

                            @if (ViewBag.Beneficio != null)
                            {
                                @Html.Partial("AddBeneficio", (ASVP.Models.BENEFICIO_IDOSO)ViewBag.Beneficio)
                            }
                            else
                            {@Html.Partial("AddBeneficio", new ASVP.Models.BENEFICIO_IDOSO())}

                        </div>


                    </div>
                    <p>
                        <input type="submit" name="Salvar" class="btn btn-primary" value="Salvar" /> | @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
                    </p>

                </fieldset>
            </form>
        }

        @*CAIXA PARA ESCOLHA  DE PERIFL*@
        <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">ATENÇÃO</h4>
                    </div>
                    <div class="modal-body">
                        <span>Escolha os perfis relacionados ao idoso</span><br />

                        <div class="row">
                            <div class="col-md-12">
                                @using (Html.BeginForm("AddPerfil", "Idoso"))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <form style="padding-top:10px">
                                        <fieldset>
                                            <div class="col-md-4">
                                                <span>@Html.CheckBox("ACAMADO") ACAMADO</span>
                                                <br />
                                                <span>
                                                    @Html.CheckBox("ALZHEIMER") ALZHEIMER
                                                </span><br />
                                                <span>
                                                    @Html.CheckBox("AVCI") AVC I
                                                </span><br />
                                                <span>
                                                    @Html.CheckBox("AVCH") AVC H
                                                </span><br />

                                                <span>
                                                    @Html.CheckBox("CADEIRANTE") CADEIRANTE
                                                </span>



                                            </div>

                                            <div class="col-md-4">
                                                <span>
                                                    @Html.CheckBox("DEFMENTAL") DEF. MENTAL
                                                </span>
                                                <br />
                                                <span>@Html.CheckBox("DEFVISUAL") DEF. VISUAL</span>
                                                <br />
                                                <span>
                                                    @Html.CheckBox("DIABETICO") DIABÉTICO
                                                </span>
                                                <br />
                                                <span>
                                                    @Html.CheckBox("MUDO") MUDO
                                                </span>
                                                <br />
                                                <span>
                                                    @Html.CheckBox("NORMAL") NORMAL
                                                </span>

                                            </div>
                                            <div class="col-md-4">
                                                <span>

                                                    @Html.CheckBox("PARKINSON") PARKINSON
                                                </span>
                                                <br />
                                                <span>
                                                    @Html.CheckBox("SENIL") SENIL
                                                </span>
                                                <br />

                                                <span>
                                                    @Html.CheckBox("SURDO") SURDO
                                                </span>



                                            </div>





                                        </fieldset>
                                        <div class="modal-footer">


                                            <input type="button" name="Sim" class="btn btn-primary" value="OK" onclick="SalvaPerfil()" />




                                        </div>
                                    </form>


                                }

                            </div>
                        </div>

                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
