﻿@model IEnumerable<ASVP.Models.CONTATO_IDOSO>


@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <table class="CSSTableGenerator">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.id_contatos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nomeContato)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.grauParentesco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.endereco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bairro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cidade)
                </th>

                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.id_contatos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nomeContato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.grauParentesco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.endereco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bairro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cidade)
                    </td>

                    <td class="visibilidade" style="width: 10%">@Html.DisplayFor(modelItem => item.id_contatos)</td>

                    <td style="width: 30%">

                        <a href='@Url.Action("DeleteContato", "Idoso", new { id = item.id_contatos ,id_idoso = item.id_idoso})'>
                            <img src='@Url.Content("~/Images/delete.png")' title="Excluir" />
                        </a>
                    </td>
                </tr>
            }


        </table>
    }
}