﻿@model ASVP.Models.DESTINO

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () { $("#descricao").addClass("text-uppercase"); });

</script>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Editar Destino @Model.descricao</h3>
    </div>
    <div class="panel-body">
        @if (ViewBag.Msg != null)
        {
            <div class="alert alert-danger">
                <strong>Atenção!</strong> @ViewBag.Msg
            </div>
        }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>DESTINO</legend>

                <div class="row">
                    
                    <div class="col-lg-3">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.descricao)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.descricao)
                            @Html.ValidationMessageFor(model => model.descricao)
                        </div>
                    </div>
                    <div class="col-lg-3 visibilidade">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.idDestino)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.idDestino)
                            @Html.ValidationMessageFor(model => model.idDestino)
                        </div>
                    </div>

                </div>
                <br />
                <p>
                    <input type="submit" name="Salvar" class="btn btn-primary" value="Salvar" /> | @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
                </p>
            </fieldset>
        }

    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
