﻿@model ASVP.Models.BANCO

@{
    ViewBag.Title = "Delete";
}

<h2>Tem certeza que deseja apagaro banco @Html.DisplayFor(model => model.nome) ?</h2>
<br />
@if (ViewBag.Msg != null)
{
    <div class="alert alert-danger">
        <strong>Atenção!</strong> @ViewBag.Msg
    </div>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Sim" class="btn btn-primary" /> |
        @Html.ActionLink("Não", "Index", null, new { @class = "btn btn-primary" })
    </p>

        <div class="visibilidade">
            @Html.DisplayNameFor(model => model.id_banco)
        </div>
            <div class="visibilidade">
                @Html.DisplayFor(model => model.id_banco)
            </div>
}
