﻿@model ASVP.Models.BANCO

@{
    ViewBag.Title = "Edit";
}



<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Alteração de Banco</h3>
    </div>
    <div class="panel-body">
        @if (ViewBag.Msg != null)
        {
            <div class="alert alert-danger">
                <strong>Atenção!</strong> @ViewBag.Msg
            </div>
        }
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <form>
                <fieldset>
                    <legend>BANCO</legend>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.nome)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.nome)
                                @Html.ValidationMessageFor(model => model.nome)
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.num_banco)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.num_banco)
                                @Html.ValidationMessageFor(model => model.num_banco)
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.agencia)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.agencia)
                                @Html.ValidationMessageFor(model => model.agencia)
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.conta)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.conta)
                                @Html.ValidationMessageFor(model => model.conta)
                            </div>
                        </div>
                    </div>
                    <br />
                    <p>
                        <input type="submit" name="Salvar" class="btn btn-primary" value="Salvar"  /> | @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
                    </p>
                    <div class="visibilidade">
                        @Html.LabelFor(model => model.id_banco)
                    </div>
                    <div class="visibilidade">
                        @Html.EditorFor(model => model.id_banco)
                        @Html.ValidationMessageFor(model => model.id_banco)
                    </div>
                    
                </fieldset>
            </form>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
