﻿@using System.Runtime.InteropServices
@using System.Web.UI.WebControls
@using ASVP.Models

@model ASVP.Models.MOVIMENTO

@{
    ViewBag.Title = "Create";
}

<style type="text/css">
    .Negativo {
        color: red;
    }

    .Positivo {
        color: blue;
    }
</style>


<script type="text/javascript">

    $(document).ready(function () { $("#dataPgto").mask("99/99/9999"); });
    $(document).ready(function () { $("#dataVenc").mask("99/99/9999"); });


    $(function () {

        $("#dataPgto").datepicker({
            dateFormat: "dd/mm/yy", showOtherMonths: true,
            selectOtherMonths: true,
            dayNames: ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado", "Domingo"],
            dayNamesMin: ["D", "S", "T", "Q", "Q", "S", "S", "D"],
            dayNamesShort: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sáb", "Dom"],
            monthNames: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
            monthNamesShort: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
            showAnim: "scale"
        });

        $("#dataVenc").datepicker({
            dateFormat: "dd/mm/yy", showOtherMonths: true,
            selectOtherMonths: true,
            dayNames: ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado", "Domingo"],
            dayNamesMin: ["D", "S", "T", "Q", "Q", "S", "S", "D"],
            dayNamesShort: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sáb", "Dom"],
            monthNames: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
            monthNamesShort: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
            showAnim: "scale"
        });

        $("#valor").blur(function (event) {
            this.value = this.value.replace('.', '');
        });

    });

    //function ListarMovimentos() {
    //    $.ajax({ type: 'GET', url: '/Movimento/ListarMovimentos', dataType: 'html', cache: false, async: true, success: function (data) { $('#listarMovimentos').html(data); } });
    //}
    ////$(document).ready(function () { setInterval(atualizarDefinicao, 30000); });

    //window.onload = function () {
    //    // códigos JavaScript a serem executados quando a página carregar
    //    ListarMovimentos();
    //}

    $(function () {
        $("#valor").maskMoney();
    });
    $(document).ready(function () {
        $('#IDOSO_nome').autocomplete(
        {
            source: '@Url.Action("TagSearch", "Movimento")'
        });


    });

    function change_url(val) {

        //var url = "/Movimento/Create?TipoOperacao=" + val;
        var url = "/ASVP/Movimento/Create?TipoOperacao=" + val;
        window.location = url;


    }

    $('#dataVenc').change(function () {
        if (document.getElementById("dataVenc").value.length > 10)
            document.getElementById("dataVenc").value = document.getElementById("dataVenc").value.substring(0, 10);

    });
</script>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Nova movimentação</h3>
    </div>
    <div class="panel-body">

        @if (ViewBag.Msg != null)
        {
            <div class="alert alert-danger">
                <strong>Atenção!</strong> @ViewBag.Msg
            </div>
        }
        @if (ViewBag.MsgSucesso != null)
        {
            <div class="alert alert-success">
                <strong>Sucesso!</strong> @ViewBag.MsgSucesso
            </div>
        }
        <div class="row">
            <div class="col-md-12">


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <form class="form-inline">
                        <fieldset>
                            <legend>MOVIMENTO</legend>

                            <div class="row">

                                <div class="col-md-2">
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.OPERACAO.tipo, "Tipo Operação")
                                    </div>
                                    <div class="editor-field">
                                        @{var listItems = new List<ListItem>
                                  {
                                      new ListItem {Text = "Selecione", Value = "tipo"},
                                      new ListItem {Text = "Despesa", Value = "D"},
                                      new ListItem {Text = "Receita", Value = "C"}
                                  }; }

                                        @Html.DropDownList("TipoOperacao", new SelectList(listItems, "Value", "Text"), new { @class = "form-control", onchange = "change_url(this.options[this.selectedIndex].value)" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-3" style="padding:0px">

                                        <div class="editor-label">
                                            @Html.LabelFor(model => model.id_operacao, "Operação")
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="padding:0px">
                                        <a href='@Url.Action("Create", "Operacao")'>
                                            <img src='@Url.Content("~/Images/add.png")' />
                                        </a>
                                    </div>
                                    <div class="editor-field">

                                        @if (ViewBag.id_operacao != null)
                                        {
                                            @Html.DropDownList("id_operacao", new SelectList(ViewBag.id_operacao, "Value", "Text"), "Selecione", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.id_operacao)
                                        }
                                        else
                                        {
                                            var operacoes = new List<ListItem>
                                          {
                                              new ListItem {Text = "Escolha uma operação...", Value = "operacao"}
                                          };
                                            @Html.DropDownList("id_operacao", new SelectList(operacoes, "Value", "Text"), new { @class = "form-control" })

                                        }

                                    </div>
                                </div>

                                <div class="col-md-6" style="padding:0px">
                                    <div class="col-md-6">
                                        <div class="col-md-3" style="padding:0px">

                                            <div class="editor-label">
                                                @Html.LabelFor(model => model.idDestino, "Destino")
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="padding:0px">
                                            <a href='@Url.Action("Create", "Destino")'>
                                                <img src='@Url.Content("~/Images/add.png")' />
                                            </a>
                                        </div>
                                        <div class="editor-field">
                                            @if (ViewBag.idDestino != null)
                                            {@Html.DropDownList("idDestino", new SelectList(ViewBag.idDestino, "Value", "Text"), "Selecione", new { @class = "form-control" })}
                                        </div>


                                    </div>

                                    <div class="col-md-6">
                                        <div class="col-md-3" style="padding:0px">

                                            <div class="editor-label">
                                                @Html.LabelFor(model => model.id_banco, "Conta")
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="padding:0px">
                                            <a href='@Url.Action("Create", "Banco")'>
                                                <img src='@Url.Content("~/Images/add.png")' />
                                            </a>
                                        </div>
                                        <div class="editor-field">
                                            @if (ViewBag.id_banco != null)
                                            {@Html.DropDownList("id_banco", new SelectList(ViewBag.id_banco, "Value", "Text"), "Selecione", new { @class = "form-control" })}
                                        </div>


                                    </div>
                                </div>




                            </div>

                            <div class="row" style="padding-top: 10px;">

                                <div class="col-md-6">
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.IDOSO.nome)
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.IDOSO.nome, new { @class = "form-control", placeholder = "Informe o nome do idoso" })

                                            <div class="input-group-addon">
                                                <img src="~/Images/oldman.png" />
                                            </div>
                                        </div>
                                    </div>


                                </div>


                                <div class="col-md-2">
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.dataVenc)
                                    </div>
                                    <div class="editor-field">

                                        @Html.EditorFor(model => model.dataVenc)


                                    </div>

                                </div>

                                <div class="col-md-2">
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.dataPgto)
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.dataPgto)

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.valor)
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.valor)
                                        @Html.ValidationMessageFor(model => model.valor)
                                    </div>
                                </div>



                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.obs)
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextAreaFor(model => model.obs, new { @class = "text-uppercase" })
                                        @Html.ValidationMessageFor(model => model.obs)
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="submit" name="Salvar" class="btn btn-primary" value="Salvar" />  @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary", type = "button" })
                                </div>

                            </div>
                        </fieldset>
                    </form>

                }
            </div>
        </div>


        <div id="listaMovimentos">
            <div class="row">

                @{
                    Html.RenderPartial("ListarMovimentos", Model.listaMovimentos);
                }
            </div>
        </div>



    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
