﻿@model DotNet.Highcharts.Highcharts
@{
    ViewBag.Title = "Graficos";
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/Highcharts-3.0.1/js/highcharts.js"></script>

@(Model)
