﻿@{
    ViewBag.Title = "RelCaixa";
}
@using System.Globalization
@using System.Web.UI.WebControls
@model PagedList.IPagedList<ASVP.Models.MOVIMENTO>
@using ASVP.Models;
@using PagedList.Mvc
<script>
    function pgtoAbertoFun(val) {
        if (val = "on")
            document.getElementById("pgtoEfetuado").checked = "";
    }
    function pgtoEfetuadoFun(val) {
        if (val = "on")
            document.getElementById("pgtoAberto").checked = "";
    }
    $(function () {
        $("#dataInicio").datepicker({
            dateFormat: "dd/mm/yy",
            showOtherMonths: true,
            selectOtherMonths: true,
            dayNames: ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado", "Domingo"],
            dayNamesMin: ["D", "S", "T", "Q", "Q", "S", "S", "D"],
            dayNamesShort: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sáb", "Dom"],
            monthNames: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
            monthNamesShort: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
            showAnim: "scale"
        });

        $("#dataFim").datepicker({
            dateFormat: "dd/mm/yy",
            showOtherMonths: true,
            selectOtherMonths: true,
            dayNames: ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado", "Domingo"],
            dayNamesMin: ["D", "S", "T", "Q", "Q", "S", "S", "D"],
            dayNamesShort: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sáb", "Dom"],
            monthNames: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
            monthNamesShort: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
            showAnim: "scale"
        });

    });

</script>
<div class="panel panel-primary">
    <div class="panel-heading">Capa do Caixa</div>
    <div class="panel-body">
        @using (Html.BeginForm("RelCaixa", "Movimento"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="row">
                <div class="col-md-2">
                    <div class="editor-label">
                        Data Inicial
                    </div>
                    <div class="editor-field">
                        <input type="text" class="form-control" id="dataInicio" name="dataInicio" placeholder="Data Inicial" value="@ViewBag.dataInicio">

                    </div>

                </div>

                <div class="col-md-2">
                    <div class="editor-label">
                        Data Final
                    </div>
                    <div class="editor-field">
                        <input type="text" class="form-control" id="dataFim" name="dataFim" placeholder="Data Final" value="@ViewBag.dataFim">

                    </div>

                </div>

                <div class="col-md-3">
                    <div class="editor-label">
                        Tipo de Operação:
                    </div>
                    <div class="editor-field">
                        @{var listItems = new List<ListItem>
                                  {
                                      new ListItem {Text = "Selecione o tipo de operação", Value = "tipo"},
                                      new ListItem {Text = "Despesa", Value = "D"},
                                      new ListItem {Text = "Receita", Value = "C"}
                                  }; }
                        @*@Html.DropDownList("TipoOperacao", new SelectList(listItems, "Value", "Text"))*@
                        @Html.DropDownList("TipoOperacao", new SelectList(listItems, "Value", "Text"), new { @class = "form-control", onchange = "change_url(this.options[this.selectedIndex].value)" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-8">

                        <div class="editor-field">

                            <div class="checkbox">
                                <label><input type="checkbox" id="pgtoAberto" checked="@ViewBag.pgtoAberto" name="pgtoAberto" onchange=" pgtoAbertoFun(this.value) ">Pagamentos em Aberto</label>
                                <label><input type="checkbox" id="pgtoEfetuado" checked="@ViewBag.pgtoEfetuado" name="pgtoEfetuado" onchange=" pgtoEfetuadoFun(this.value) ">Pagamentos Efetuados</label>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 10px">
                        <input type="submit" class="btn btn-primary" value="Pesquisar"/>
                    </div>
                </div>
                



                <div class="col-md-1 text-right">

                    <button type="submit" name="Rel" value="Rel" class="BtnTransparente" style="margin-top: 10px">
                        <img src='@Url.Content("~/Images/ficha.png")' title="Movimentos Caixa Asilo" />
                    </button>
                </div>


            </div>


        }

        <div class="row">
            <div class="col-md-12">



                @if (Model != null)
                {
                    <div style="overflow: scroll">
                        <table class="CSSTableGenerator" style="overflow: scroll">
                            <tr>

                                <th>
                                    @Html.Label("Operação")
                                </th>
                                <th>
                                    @Html.Label("Obs")
                                </th>
                                <th>
                                    @Html.Label("Destino")
                                </th>
                                <th>
                                    @Html.Label("Idoso")
                                </th>
                                <th>
                                    @Html.Label("Vr (R$)")
                                </th>

                                <th>
                                    @Html.Label("Vencto")
                                </th>
                                <th>
                                    @Html.Label("Pgto")
                                </th>

                                <th>
                                    @Html.Label("Banco")
                                </th>


                                <th></th>
                                @if (ViewBag.Tela != null)
                                {
                                    if (ViewBag.Tela != "Index")
                                    {
                                        <th></th>
                                    }
                                }


                            </tr>



                            @{
                                Nullable<decimal> saldo = 0;

                                foreach (var item in Model)
                                {
                                    if (item.dataPgto != null)
                                    {
                                        if (item.OPERACAO.tipo == "C")
                                        {
                                            saldo += item.valor;
                                        }
                                        else
                                        {
                                            saldo -= item.valor;
                                        }
                                    }
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OPERACAO.descricao)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.obs)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DESTINO.descricao)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IDOSO.nome)
                                        </td>
                                        <td style="text-align: right">
                                            @if (item.OPERACAO.tipo == "D")
                                            {
                                                if (item.valor != null)
                                                {
                                                    <span class="Negativo">
                                                        @Html.DisplayFor(modelItem => item.valor).ToString().Replace("R$", "")
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="Negativo">
                                                        @Html.DisplayFor(modelItem => item.valor)
                                                    </span>
                                                }
                                            }
                                            else
                                            {
                                                if (item.valor != null)
                                                {
                                                    <span class="Positivo">
                                                        @Html.DisplayFor(modelItem => item.valor).ToString().Replace("R$", "")
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="Positivo">
                                                        @Html.DisplayFor(modelItem => item.valor)
                                                    </span>
                                                }
                                            }
                                        </td>



                                        <td>
                                            @if (item.dataVenc != null)
                                            {
                                                @Html.DisplayFor(modelItem => item.dataVenc).ToString().Substring(0, 10)
                                            }
                                        </td>
                                        <td>
                                            @if (item.dataPgto != null)
                                            {
                                                @Html.DisplayFor(modelItem => item.dataPgto).ToString().Substring(0, 10)
                                            }
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.BANCO.nome) - @Html.DisplayFor(modelItem => item.BANCO.conta)
                                        </td>




                                    </tr>


                                }
                            
                                        if (ViewData["Movimentos"] != null)
                                        {
                                            if (Model.IsLastPage)
                                            {
                                                IQueryable<MOVIMENTO> movimentos = (IQueryable<MOVIMENTO>)ViewData["Movimentos"];

                                                decimal? totalCredito = movimentos.Where(p => p.OPERACAO.tipo == "C").Sum(p => p.valor);
                                                decimal? totalDebito = movimentos.Where(p => p.OPERACAO.tipo == "D").Sum(p => p.valor);

                                                if (totalCredito == null)
                                                {
                                                    totalCredito = 0;
                                                }
                                                if (totalDebito == null)
                                                {
                                                    totalDebito = 0;
                                                }

                                                <tr>
                                                    <td>
                                                        
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>@Html.Label("Saldo", new { @class = "negrito" })</td>
                                                    <td style="text-align: right">
                                                        @if ((totalDebito) != null && totalCredito != null)
                                                        {
                                                            if ((totalCredito - totalDebito) < 0)
                                                            {
                                                                <span class="Negativo">
                                                                    <span style="color: red; font-weight: bold">@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", Convert.ToDecimal(totalCredito - totalDebito)).Replace("R$", "").Replace("-", "")</span>
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="Positivo">
                                                                    <span style="color: blue; font-weight: bold">@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", Convert.ToDecimal(totalCredito - totalDebito)).Replace("R$", "").Replace("-", "")</span>
                                                                </span>
                                                            }
                                                        }

                                                    </td>
                                                    <td></td>
                                                    <td>
                                                       
                                                </td>
                                                <td></td>
                                            </tr>
                                            }
                                        }

                                 


                            }
                        </table>
                        <br />
                        Página @Model.PageNumber de @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("RelCaixa", "Movimento", new
               {
                   pagina = page,
                   dataInicio = ViewBag.dataInicio,
                   dataFim = ViewBag.dataFim,
                   pgtoAberto = ViewBag.pgtoAberto,
                   pgtoEfetuado = ViewBag.pgtoEfetuado,
                   TipoOperacao=ViewBag.TipoOperacao




               }))

                    </div>

                }
            </div>
        </div>


    </div>
</div>
