﻿@using System.Globalization
@using System.Web.UI.WebControls
@model IEnumerable<ASVP.Controllers.MovimentoController.MovimentoRelDetalhado>


<style type="text/css">
    a.AddMovimentoImg {
        background: url(~/Images/addMov.png) no-repeat top left;
        display: block;
        width: 150px;
        height: 150px;
        text-indent: -9999px; /* hides the link text */
    }

    .Top0 {
        padding-bottom: 0;
    }
    .negrito {
        font-weight:bold;
    }

    .BtnTransparente {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }

    .editor-label {
        font-weight: bold;
    }

    .Negativo {
        color: red;
    }

    .Positivo {
        color: blue;
    }
</style>


<script type="text/javascript">
   

</script>


@*<div id="Pesquisa">
        @{
            Html.RenderPartial("Pesquisa");
        }
    </div>*@

@*@{Nullable<decimal> saldoAtual = 0;

    foreach (var item in ViewBag.SaldoAtual)
    {
        if (item.OPERACAO.tipo == "C")
        {
            saldoAtual += item.valor;
        }
        else
        {
            saldoAtual -= item.valor;
        }




    }}*@
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Relatório Detalhado de Movimentações</h3>
    </div>
    <div class="panel-body " style="overflow: auto">

        @if (ViewBag.Msg != null)
        {
            <div class="alert alert-danger">
                <strong>Atenção!</strong> @ViewBag.Msg
            </div>
        }
@using (Html.BeginForm("Index", "Movimento"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-md-12 text-right">

            <button type="submit" name="ExcelDetalhado" value="Excel" class="BtnTransparente">
                <img src='@Url.Content("~/Images/excel.png")' title="Exportar para Excel"/>
            </button>


        </div>
    </div>
}

        @if (Model != null)
        {
            <table class="CSSTableGenerator">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.operacao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.destino)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.bancoNome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Credito)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Debito)
                    </th>


                    <th>
                        @Html.Label("Saldo R$")
                    </th>
                    <th></th>
                    <th></th>

                </tr>

                @{
                    if (Model != null)
                    {
                        Nullable<decimal> saldo = 0;

                        foreach (var item in Model)
                        {
                            

                            if (item.Credito == null)
                            {
                                item.Credito = 0;
                            }

                            if (item.Debito == null)
                            {
                                item.Debito = 0;
                            }

                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.operacao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.destino)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.bancoNome)
                                </td>
                                <td class="text-right">
                                    <span style="color: blue">@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", item.Credito).Replace("-", "").Replace("R$", "").Replace(" ", "")</span>
                                </td>
                                <td class="text-right">
                                    <span style="color: red">@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", item.Debito).Replace("-", "").Replace("R$", "").Replace(" ", "")</span>
                                </td>

                                <td style="text-align: right">
                                    @{
                                        
                                        if (item.Credito > 0)
                                        {
                                            saldo += item.Credito;
                                        }
                                        else
                                        {
                                            saldo -= item.Debito;
                                        }
                                        
                                        if (saldo < 0)
                                        {
                                            <span style="color: red; font-weight: bold">@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", saldo).Replace("-", "").Replace("R$", "").Replace(" ", "")</span>
                                        }
                                        else
                                        {
                                            <span style="color: blue; font-weight: bold">@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", saldo).Replace("-", "").Replace("R$", "").Replace(" ", "")</span>
                                        }
                                    }

                                </td>
                                @*<th class="visibilidade">|</th>*@
                                @*<td>
                                        <div class="row" style="width: 100px">

                                            <div class="col-md-6">
                                                <a href='@Url.Action("Edit", "Movimento", new {id = item.id_movimento})'>
                                                    <img src='@Url.Content("~/Images/edit.png")' title="Editar"/>
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                                <a href='@Url.Action("Delete", "Movimento", new {id = item.id_movimento})'>
                                                    <img src='@Url.Content("~/Images/delete.png")' title="Excluir"/>
                                                </a>
                                            </div>
                                        </div>

                                    </td>*@
                            </tr>


                        }
                        
                        <tr>

                                <td>
                                    @Html.Label("TOTAL", new { @class="negrito"})
                                </td>
                                <td>
                                   
                                </td>
                            <td></td>
                                <td class="text-right">
                                    <span style="color: blue">@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", Model.Sum(p=>p.Credito)).Replace("-", "").Replace("R$", "").Replace(" ", "")</span>
                                </td>
                                <td class="text-right">
                                    <span style="color: red">@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", Model.Sum(p => p.Debito)).Replace("-", "").Replace("R$", "").Replace(" ", "")</span>
                                </td>

                                <td style="text-align: right">
                                    @{
                                        if (saldo < 0)
                                        {
                                            <span style="color: red; font-weight: bold">@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", saldo).Replace("-", "").Replace("R$", "").Replace(" ", "")</span>
                                        }
                                        else
                                        {
                                            <span style="color: blue; font-weight: bold">@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", saldo).Replace("-", "").Replace("R$", "").Replace(" ", "")</span>
                                        }
                                    }

                                </td>
                                @*<th class="visibilidade">|</th>*@
                                @*<td>
                                        <div class="row" style="width: 100px">

                                            <div class="col-md-6">
                                                <a href='@Url.Action("Edit", "Movimento", new {id = item.id_movimento})'>
                                                    <img src='@Url.Content("~/Images/edit.png")' title="Editar"/>
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                                <a href='@Url.Action("Delete", "Movimento", new {id = item.id_movimento})'>
                                                    <img src='@Url.Content("~/Images/delete.png")' title="Excluir"/>
                                                </a>
                                            </div>
                                        </div>

                                    </td>*@
                            </tr>

                    }

                }
            </table>

        }

    </div>

</div>

