﻿@using System.Web.UI.WebControls
@model ASVP.Models.ADMINISTRADOR


@{
    ViewBag.Title = "Create";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Novo Idoso</h3>
    </div>
    <div class="panel-body">

        @if (ViewBag.Msg != null)
        {
            <div class="alert alert-danger">
                <strong>Atenção!</strong> @ViewBag.Msg
            </div>
        }

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <form class="form-inline">
                <fieldset>
                    <legend>Novo Usuário</legend><br />


                    <div class="row">
                        <div class="col-sm-5">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.nome)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.nome)
                                @Html.ValidationMessageFor(model => model.nome)
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.username)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.username)
                                @Html.ValidationMessageFor(model => model.username)
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.senha)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.senha)
                                @Html.ValidationMessageFor(model => model.senha)
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.administrador1)
                            </div>
                            <div class="editor-field">
                                @{var administrador1 = new List<ListItem>
                                  {
                                      new ListItem {Text = "Não", Value = "N"},
                                      new ListItem {Text = "Sim", Value = "S"}

                                  }; }

                                @Html.DropDownList("administrador1", new SelectList(administrador1, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.administrador1)
                            </div>
                        </div>


                    </div>
                    <br />
                    <div class="row">

                        <div class="col-sm-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.cadIdoso)
                            </div>
                            <div class="editor-field">
                                @{var cadIdoso = new List<ListItem>
                                  {
                                     new ListItem {Text = "Não", Value = "N"},
                                      new ListItem {Text = "Sim", Value = "S"}
                                  }; }

                                @Html.DropDownList("cadIdoso", new SelectList(cadIdoso, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.cadIdoso)
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.cadOperacao)
                            </div>
                            <div class="editor-field">
                                @{var cadOperacao = new List<ListItem>
                                  {
                                      new ListItem {Text = "Não", Value = "N"},
                                      new ListItem {Text = "Sim", Value = "S"}
                                  }; }

                                @Html.DropDownList("cadOperacao", new SelectList(cadOperacao, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.cadOperacao)
                            </div>
                        </div>
                        <div class="col-sm-4">

                            <div class="editor-label">
                                @Html.LabelFor(model => model.cadDestino)
                            </div>
                            <div class="editor-field">
                                @{var cadDestino = new List<ListItem>
                                  {
                                     new ListItem {Text = "Não", Value = "N"},
                                      new ListItem {Text = "Sim", Value = "S"}
                                  }; }

                                @Html.DropDownList("cadDestino", new SelectList(cadDestino, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.cadDestino)
                            </div>
                        </div>

                    </div>

                    <br />
                    <div class="row">


                        <div class="col-sm-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.cadBanco)
                            </div>
                            <div class="editor-field">
                                @{var cadBanco = new List<ListItem>
                                  {
                                      new ListItem {Text = "Não", Value = "N"},
                                      new ListItem {Text = "Sim", Value = "S"}
                                  }; }

                                @Html.DropDownList("cadBanco", new SelectList(cadBanco, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.cadBanco)
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.LancMovimento)
                            </div>
                            <div class="editor-field">
                                @{var LancMovimento = new List<ListItem>
                                  {
                                     new ListItem {Text = "Não", Value = "N"},
                                      new ListItem {Text = "Sim", Value = "S"}
                                  }; }

                                @Html.DropDownList("LancMovimento", new SelectList(LancMovimento, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LancMovimento)
                            </div>
                        </div>


                        <div class="col-sm-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.consMovimento)
                            </div>
                            <div class="editor-field">
                                @{var consMovimento = new List<ListItem>
                                  {
                                      new ListItem {Text = "Não", Value = "N"},
                                      new ListItem {Text = "Sim", Value = "S"}
                                  }; }

                                @Html.DropDownList("consMovimento", new SelectList(consMovimento, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.consMovimento)
                            </div>
                        </div>



                    </div>
                    <br />

                    <p>
                        <input type="submit" name="Salvar" class="btn btn-primary" value="Salvar" /> | @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
                    </p>

                    <br />
                </fieldset>
            </form>

        }

    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
