﻿@model ASVP.Models.ADMINISTRADOR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ADMINISTRADOR</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.senha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.senha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.administrador1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.administrador1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cadIdoso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cadIdoso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cadOperacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cadOperacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cadDestino)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cadDestino)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cadBanco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cadBanco)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LancMovimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LancMovimento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.consMovimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.consMovimento)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
