﻿@model IEnumerable<ASVP.Models.ADMINISTRADOR>

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Cadastrar Usuário</h3>
    </div>
    <div class="panel-body " style="overflow: auto">
        <p>
            <a href='@Url.Action("Create", "Administrador")'>
                <img src='@Url.Content("~/Images/add-user.png")' />
            </a>
        </p>
        <table class="CSSTableGenerator">
            <tr>
               
                <th>
                    @Html.DisplayNameFor(model => model.nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.administrador1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cadIdoso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cadOperacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cadDestino)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cadBanco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LancMovimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.consMovimento)
                </th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.administrador1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cadIdoso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cadOperacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cadDestino)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cadBanco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LancMovimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.consMovimento)
                    </td>
                    <th class="visibilidade">@Html.DisplayFor(modelItem => item.id_usuario)</th>
                    <td>

                        <a href='@Url.Action("Edit", "Administrador", new { id = item.id_usuario })'>
                            <img src='@Url.Content("~/Images/edit.png")' title="Editar" />
                        </a>

                        <a href='@Url.Action("Delete", "Administrador", new { id = item.id_usuario })'>
                            <img src='@Url.Content("~/Images/delete.png")' title="Excluir" />
                        </a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>