﻿@model ASVP.Models.ADMINISTRADOR

@{
    ViewBag.Title = "Logar";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link href="~/bootstrap-3.3.6-dist/css/Login.css" rel="stylesheet" />
<link href="~/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <body>
    <div class="container" style="padding-right: 20%; padding-left: 20%;">
        @using (Html.BeginForm())
        {
            <div class="content">
                <div class="row text-center Logocentralizado">
                    <img src="~/Images/asilo_logo.png"/>
                </div>


                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control input-lg" placeholder="Usuário" value="@ViewBag.Login" name="login" id="login" required="true">
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg" placeholder="Senha" type="password" name="senha" id="senha" required="true">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Logar</button>
                    </div>
                </div>

                @if (null != TempData["alertMessage"])
                {
                <div class="alert alert-warning">
                        <strong>Atenção! </strong> @TempData["alertMessage"]
                    </div>
                }

            </div>
        }

    </div>

        
    </body>
</html>
