﻿@model IEnumerable<ASVP.Models.IDOSO>
@using System.Globalization
@{
    ViewBag.Title = "Bem vindo";
}
@*@section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Title</h1>
                    <h2>@ViewBag.Message</h2>
                </hgroup>

            </div>
        </section>
    }*@





@*<ol class="round">
        <li class="one">
            @{ Nullable<decimal> saldoAtual = 0; }
            @foreach (var item in ViewBag.SaldoAtual)
            {
                if (item.valor != null)
                {
                    if (item.OPERACAO.tipo == "C")
                    {
                        saldoAtual += item.valor;
                    }
                    else
                    {
                        saldoAtual -= item.valor;
                    }
                }




            }
            @{
                string saldo = String.Format("{0:C}", Convert.ToDouble(saldoAtual.ToString()));
                if (saldoAtual < 0)
                {
                    <div class="row">
                        <div class="col-md-5" style="font-size: 20px;">
                            @Html.Label("\nHoje estamos com o saldo negativo:")
                        </div>
                        <div class="col-md-3">
                            <div style="color: red; font-size: 20px">@saldo</div>
                        </div>
                    </div>


                }
                else
                {
                    <div class="row">
                        <div class="col-md-5" style="font-size: 20px;">
                            @Html.Label("\nHoje estamos com o saldo positivo:")
                        </div>
                        <div class="col-md-3">
                            <div style="color: blue; font-size: 20px">@saldo</div>
                        </div>
                    </div>
                }
            }

        </li>


    </ol>*@
@if (TempData["alertMessage"] != null && TempData["alertMessage"] != "")
{
    <div class="alert alert-danger">
        <strong>Atenção!</strong> @TempData["alertMessage"]
    </div>
}



@if (ViewBag.ConsultaMovimento != null)
{
    if ((bool)ViewBag.ConsultaMovimento)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Movimentações com vencimento na data de @DateTime.Now.ToShortDateString()</h3>
            </div>
            <div class="panel-body">

                @if (ViewData["Movimentos"] != null)
                {
                    Html.RenderPartial("ListarMovimentos", (PagedList.IPagedList<ASVP.Models.MOVIMENTO>)ViewData["Movimentos"]);
                }

            </div>
        </div>

    }
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Aniversariantes do mês</h3>
    </div>
    <div class="panel-body">

        <table class="CSSTableGenerator">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.nome)
                </th>
                <th>
                    @Html.DisplayName("Data de aniversário")
                </th>
                <th>
                    @Html.DisplayName("Idade")
                </th>


            </tr>
            @foreach (var item in Model)
            {
                <tr>

                    <td style="padding:2px">
                        @Html.DisplayFor(modelItem => item.nome)
                    </td>
                    <td style="padding:2px">
                        <label id="dataNasc" for="dataNasc">

                            @Html.DisplayFor(modelItem => item.dataNasc).ToString().Split(' ')[0].Substring(0, @Html.DisplayFor(modelItem => item.dataNasc).ToString().Split(' ')[0].Length - 5)
                        </label>
                    </td>

                    <td style="padding:2px">
                        @{

                Nullable<TimeSpan> dias = DateTime.Now - item.dataNasc;
                int idade = Convert.ToInt32(dias.Value.Days) / 365;
                @Html.Label(Convert.ToString(idade))
                        }
                    </td>



                </tr>




            }
        </table>

    </div>
</div>